{% extends "base.html" %}

{% block title %} Cryptocurrencies {% endblock title %}

{% block page_content %}
<div class="container-fluid cen_elem">
    <h1>Information for some Cryptocurrencies</h1>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-bordered">
                <thead>
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price €ur</th>
                    <th>last update</th>
                </thead>
                <tbody>
                {% for info in infoc %}
                    <tr>
                        <td>{{ info["rank"] }}</td>
                        <td>{{ info["name"] }}</td>
                        <td>{{ info["symbol"] }}</td>
                        <td>{{ info["price_eur"] }}</td>
                        <td>{{ info["last_updated"] }}</td>
                    </tr>
                {% endfor %}
                    <tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock page_content %}