{% extends "base.html" %}

{% block title %} Edit Message {% endblock title %}
{% block page_content %}
<h1> Edit Message</h1>
<form method="post" action="/message/{{message.key.id()}}/edit">
    <div class="input-group">
        <span class="input-group-addon">name</span>
        <input type="text" name="username" value="{{message.name}}">
    </div>
    <div class="input-group">
      <span class="input-group-addon">message</span>
      <input type="text" name="message_text" value="{{ message.message_text }}">
    </div>

    <button class="btn btn-warning" type="submit">Edit</button>
</form>
{% endblock page_content %}