{% extends "base.html" %}

{% block title %} Password Generator {% endblock title %}
{% block page_content %}
<div class="container-fluid">
    <h1>Welcome to the Password Generator</h1>
    <h2>Do you want to get a new password?</h2>
        <form method="post">
            <button type="submit">Generate</button>
        </form>
    {% if has_guessed %}
        <h2>this Passwords where created with {{ vers }} at {{ radate }}</h2>
    <h3>The password is <strong>{{ pwd }}</strong> and has a length of <strong>{{ len1 }}</strong></h3>
    <h3>The password is <strong>{{ pwd2 }}</strong> and has a length of <strong>{{ len2 }}</strong></h3>
    {% endif %}
</div>
{% endblock page_content %}